:root {
    /* COLORS */
    --clr-primary: hsl(194, 81%, 60%);
    // --clr-primary-300: rgba(0, 83, 206, .8);
    // --clr-primary: rgb(0, 83, 206);
    // --clr-primary-600: rgb(0, 59, 147);
    --clr-accent: hsl(33, 100%, 50%);
    --clr-dark: hsl(233, 20%, 32%);
    --clr-bright: #ffffff;
    // --clr-light: #ffffff7e;
}

.bg-primary {
    background-color: var(--clr-primary);
}
.text-primary {
    color: var(--clr-primary);
}

.bg-dark {
    background-color: var(--clr-dark);
}
.text-dark {
    color: var(--clr-dark);
}

.bg-accent {
    background-color: var(--clr-accent);
}
.text-accent {
    color: var(--clr-accent);
}
