:root {
    /* COLORS */
    --clr-primary: hsl(194, 81%, 60%);
    // --clr-primary-300: rgba(0, 83, 206, .8);
    // --clr-primary: rgb(0, 83, 206);
    // --clr-primary-600: rgb(0, 59, 147);
    --clr-accent: hsl(33, 100%, 50%);
    --clr-dark: #414562;
    --clr-dark-200: #424662;
    --clr-dark-600: #5b5b5b;
    --clr-bright: #ffffff;
    --clr-light: #f6f6f6;
    --clr-light-500: #8a8a8a;

    --mdc-theme-primary: var(--clr-accent);
    /* Primary color */
    --mdc-theme-secondary: var(--clr-primary);
    /* Secondary color */
    --mdc-theme-background: #ffffff;
    /* Background color */
}

.bg-primary {
    background-color: var(--clr-primary);
}

.text-primary {
    color: var(--clr-primary);
}

.bg-dark {
    background-color: var(--clr-dark);
}

.text-dark {
    color: var(--clr-dark);
}

.bg-dark-200 {
    background-color: var(--clr-dark-200);
}

.text-dark-200 {
    color: var(--clr-dark-200);
}

.bg-dark-600 {
    background-color: var(--clr-dark-600);
}

.text-dark-600 {
    color: var(--clr-dark-600);
}

.bg-accent {
    background-color: var(--clr-accent);
}

.text-accent {
    color: var(--clr-accent);
}

.bg-light {
    background-color: var(--clr-light);
}

.text-light {
    color: var(--clr-light);
}

.bg-light-500 {
    background-color: var(--clr-light-500);
}

.text-light-500 {
    color: var(--clr-light-500);
}

.border-primary {
    border-color: var(--clr-primary);
}
