@use "@material/theme" with (
  // $on-*: #414562
  $primary: #46c5ec,
  $on-primary: #ffffff,
  $secondary: #ff8c00,
  $on-secondary: #ffffff,

  // 1. Primary
  // 2. Primary Variant
  // 3. Secondary
  // 4. Secondary Variant
  // 5. Background
  // 6. Surface
  // 7. Error
  // 8. On Primary
  // 9. On Secondary
  // 10. On Background
  // 11. On Surface
  // 12. On Error
);

@use "@material/button/mdc-button";
@use "@material/button";
@use "@material/dialog";
@use "@material/radio";
@use "@material/radio/styles";
@use "@material/form-field";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/card";
@use "@material/checkbox";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";

@include checkbox.core-styles;
@include form-field.core-styles;

@include card.core-styles;

@include textfield.core-styles;

@include form-field.core-styles;

@include dialog.core-styles;

.foo-button {
  @include button.container-fill-color(#cdc226);
}

.primary-btn {
  @include button.container-fill-color(var(--clr-primary));
  @include button.ink-color(var(--clr-bright));
}

.my_radios {
  @include radio.ink-color(#46c5ec);
  @include radio.focus-indicator-color(#46c5ec);
  @include radio.checked-stroke-color(#46c5ec);
  @include radio.ripple-size(1rem);
}

.mdc-radio .mdc-radio__ripple::before,
.mdc-radio .mdc-radio__ripple::after {
  background-color: #46c5ec;
}
