@use "../_partials/mixins";
.new-notification-list {
    // background-color: red !important;
    .date {
        color: var(--clr-light-500);
        &::after {
            @include mixins.after("\f142", inherit);
            color: var(--clr-light-300);
            display: block;
            margin-bottom: 3px;
        }

        & + ul {
            li {
                display: flex;
                align-items: center;
                // gap: 5px;
                a {
                    display: block;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    &::before {
                        content: "";
                        display: block;
                        height: 7px;
                        width: 7px;
                        border-radius: 50%;
                        background-color: var(--clr-danger);
                    }

                    &:visited {
                        &::before {
                            background-color: rgb(249 250 251);
                        }
                    }
                }
            }
        }
    }
}
