.table{
    width: 100%;
    font-size: .9rem;
    &.style-regular{

        tr{
            th,td{
                background-color: hsl(0, 0%, 95%);
                border: 1px solid rgb(217, 217, 217);
            }
        }
    }

    tr{
        th,td{
            padding: .5em;
            text-align: left;
            // &:first-child{
            //     text-align: left;
            // }
        }
    }
}

.table-bordered{
    th, td{
        border: 1px solid var(--clr-light-300);
    }
}

.align-end-cells-right{    
    tr{
        th,td{
            &:last-child:not(&.text-left){
                text-align: right;
            }
        }
    }
}